* {
  margin: 0;
  padding: 0;
}
/* Header */
.header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: red;
}
.header link {
}
/* Main Container */
.mainContainer{
  display: flex;
  flex-direction: column;
}
/* Summoner Info */
.summonerInfo{
  width: 40%;
}
/* Matches Container */
.matchesContainer {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100vw;
  border: 1px red solid;
}
/* Matches */
.matchContainer {
  width: auto;
  justify-content: center;
}
/* Unit */
.unitContainer {
  width: 50rem;
  display: flex;
  flex-direction: row;
  justify-content: left;

  border: 1px green solid;
}
.unitContainer button{
  width: 20px;
  background-color: yellow;
}
.champImg {
  height: 55px;
  border-radius: 50%;
  width: 55px;
}
.itemImg {
  height: 18px;
  width: auto;
}
.unit {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
}
.itemContainer {
  position: relative;
  top: -13px;
}
/* Item */
